:root {
    --veryDarkGray: hsl(0, 0%, 17);
    --darkGray: hsl(0, 0%, 59%);
}

@import url('https://fonts.google.com/specimen/Rubik');

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    width: 375px;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.header {
    background-image: url(/images/pattern-bg-mobile.png);
    height: 300px;
    width: 100%;
    margin: 0 auto;
    padding: 0;

}

.header div {
    display: flex;
    justify-content: center;
}

.title h2 {
    margin: 25px 0px;
    color: white;
}

.search-cont {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}


.IP-address input {
    padding: 10px;
    padding-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    width: 250px;
    height: 25px;
    text-align: left;
    color: black;
    border-right-style: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

.IP-address input:focus {
    outline: none !important;
    border: none;
}

.IP-address input::placeholder {
    text-align: left;
    color: var(--darkGray);
    font-size: 14px;
    padding-left: -25px;

}

.arrow-cont {
    background-color: black;
    width: 30px;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -10px;
    height: 25px;


}

.arrow-cont button {
    background-color: black;
    border: none;
}

.arrow-cont img {
    width: 10px;
    height: 15px;
    display: flex;
    align-self: center;
}

.arrow-cont:hover {
    background-color: var(--darkGray);

}

.arrow-cont:hover button {
    background-color: var(--darkGray);

}

.result-cont {
    width: 320px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    height: 300px;
    align-content: space-around;
    justify-content: center;
    margin-top: -150px;
    background-color: white;
    position: relative;

}

.result-cont div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-evenly;
    margin-bottom: 5px;
    border: none;
}

.result-cont div h2 {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--darkGray);
    font-weight: 400;
}

.result-cont div h5 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: var(--veryDarkGray);
    font-weight: 600;
}

.map-cont {
    background-color: gainsboro;
    width: 100%;
    height: 370px;
    margin-top: -150px;
    margin-bottom: 20px;
}

.map-cont img {
    display: flex;
    justify-items: center;
}

.attribution {
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 800px) {
    body {
        margin: 0 auto;
        padding: 0;
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        width: 100%;
    }

    .container {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .header {
        background-image: url(/images/pattern-bg-desktop.png);
        height: 280px;
        width: 100%;
        margin: 0 auto;
        padding: 0;

    }

    .header div {
        display: flex;
        justify-content: center;
    }

    .title h2 {
        margin: 25px 0px;
        color: white;
        word-spacing: 3px;
        letter-spacing: 7px;
    }

    .search-cont {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }


    .IP-address input {
        padding: 10px;
        padding-left: 20px;
        font-size: 18px;
        border-radius: 10px;
        border: none;
        width: 450px;
        height: 25px;
        text-align: left;
        color: black;
        border-right-style: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

    }

    .IP-address input:focus {
        outline: none !important;
        border: none;
    }

    .IP-address input::placeholder {
        text-align: left;
        color: var(--darkGray);
        font-size: 14px;
        padding-left: -25px;

    }

    .arrow-cont {
        background-color: black;
        width: 30px;
        padding: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-left: -10px;
        height: 25px;


    }

    .arrow-cont button {
        background-color: black;
        border: none;
    }

    .arrow-cont button img {
        color: white;
        width: 10px;
        height: 15px;
        display: flex;
        align-self: center;
    }

    .arrow-cont:hover {
        background-color: var(--darkGray);

    }

    .arrow-cont:hover button {
        background-color: var(--darkGray);

    }

    .result-cont {
        width: 85%;
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        border-radius: 15px;
        text-align: left;
        height: 150px;
        justify-content: space-evenly;
        align-items: center;
        margin-top: -65px;
        background-color: white;
        position: relative;

    }

    .result-cont div {
        width: 20%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border: none;
        border-right: 1px var(--darkGray) solid;
        height: 90px;
    }

    .result-cont div:last-child {
        border: none;
    }

    .result-cont div h2 {
        font-size: 13px;
        margin-top: 5px;
        margin-bottom: 15px;
        color: var(--darkGray);
        font-weight: 600;
    }

    .result-cont div h5 {
        font-size: 19px;
        width: 140px;
        margin-top: 5px;
        margin-bottom: 10px;
        color: var(--veryDarkGray);
        font-weight: 600;
    }

    .map-cont {
        background-color: gainsboro;
        width: 100%;
        height: 390px;
        margin-top: -85px;
        margin-bottom: 20px;
    }

    .attribution {
        font-size: 12px;
        text-align: center;
        margin-bottom: 20px;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}